@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.cards-container {
    border: 2px black solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 1400px;
   padding: 60px 40px;
}
.image img {
  border-radius: 20px;
}
.rating {
  border: 1px black solid;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}
.rating p {
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.cart h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 800;
  color: white;
}
.cart h1:hover {
  color: rgb(41, 182, 246);
  cursor: pointer;
}
.description {
  border: 1px black solid;
  width:fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}
.description h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: grey;
}
.description h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: rgb(41, 181, 245);
  cursor: pointer;
}
.Border-cards-container {
    background-color: rgb(6, 9, 15);
}